<main class="mx-auto max-w-screen-sm p-5 space-y-6">
    <h2 class="text-xl font-semibold">Hi! 👋</h2>
    <p>
        I'm a software developer focused in web applications development and maintenance using technologies such as Angular, Java, Spring Boot & SQL. 
        I have solid experience working in collaborative environments under agile methodologies, with great adaptability for new projects and teams due to fast learning skills and effective communication.
    </p>
</main>