---
import educationData from '../data/education.json'
import EducationEntry from './EducationEntry.astro';
---
<section class="mx-auto max-w-screen-sm p-5 space-y-6">
    <h2 class="text-xl font-semibold">🎓 Education</h2>
    { educationData.map((edu)=> (
        <EducationEntry
        institution={edu.institution}
        period={edu.period}
        degree={edu.degree}
        description={edu.description}
        />
    ))}
</section>