<header>
    <div class="flex items-center justify-between flex-wrap
     max-w-screen-sm bg-base-100 mx-auto p-5">
        <a class="font-semibold">Manuel Burgos</a>
        <div class="flex gap-1 items-center text-xs">
            <a href="/work">Work</a><span>/</span>
            <a href="/blog">Blog</a><span>/</span>
            <a href="/contact">Contact</a><span></span>
        </div>
    </div>
</header>