---
import { Icon } from "astro-icon/components";
---

<header class="flex items-center justify-between flex-wrap
max-w-screen-sm mx-auto p-5 
fixed top-0 right-0 left-0 z-50 backdrop-blur-lg">
    <!--TODO: Icon? -->
    <h1><a href="/" class="font-semibold">Manuel Burgos</a></h1>
    <nav class="flex gap-1 items-center text-sm">
        <a class="underline underline-offset-2" href="/blog">blog</a><i>/</i>
        <a class="flex items-end gap-2 underline underline-offset-2" href="https://tinyurl.com/4d58aas6" target="_blank">resume<Icon name="download"/></a>
    </nav>
</header>