---
interface Props {
  title?: string;
}

const { title } = Astro.props;
const structuredData = `
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Manuel Burgos",
  "url": "https://burgosmanuel.ar/"
}`
---
<title>{title || "Manuel Burgos | Software Engineer"}</title>
<meta name="description" content="I’m Manuel, a software developer focused on web applications created with technologies such as Angular, Java, Spring Boot & SQL. I have solid experience working in collaborative environments under agile methodologies, with great adaptability for new projects and teams due to fast learning skills and effective communication.">
<meta name="author" content="Manuel Burgos">
<meta name="keywords" content="portfolio, web development, software developer, Angular, Java, Spring Boot, SQL, agile methodologies,Manuel, Burgos, Manuel Burgos, burgosmanuel, burgosmanuel.ar">
<meta property="og:title" content={title || "Manuel Burgos | Software Engineer"}>
<meta property="og:description" content="I’m Manuel, a software developer focused on web applications created with technologies such as Angular, Java, Spring Boot & SQL. I have solid experience working in collaborative environments under agile methodologies, with great adaptability for new projects and teams due to fast learning skills and effective communication.">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="https://burgosmanuel.ar">
<meta property="og:image" content="/assets/images/me-crop.webp">
<meta property="og:site_name" content="Manuel Burgos" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content={title || "Manuel Burgos | Software Engineer"}>
<meta name="twitter:description" content="I’m Manuel, a software developer focused on web applications created with technologies such as Angular, Java, Spring Boot & SQL. I have solid experience working in collaborative environments under agile methodologies, with great adaptability for new projects and teams due to fast learning skills and effective communication.">
<meta name="twitter:image" content="/assets/images/me-crop.webp">
<script type="application/ld+json" set:html="structuredData" is:inline></script>