---
interface Props {
    company: string;
    date: string;
    position: string;
    tasks: string[];
}

const { company, date, position, tasks }: Props = Astro.props;
---
<article class="mt-4">
        <header class="flex items-center justify-between">
            <h2 class="font-semibold">{company}</h2>
            <span class="text-sm">{date}</span>
        </header>
        <p class="text-sm font-light">{position}</p>
        <ul class="mt-3 list-disc">
            {tasks.map((task) => (
                <li class="py-2">{task}</li>
            ))}
        </ul>
</article>
<div class="divider"></div>