<main class="mx-auto max-w-screen-sm p-5">
    <h1 class="text-xl font-semibold">Work Experience</h1>
    <div class="divider"></div>
    <article class="mt-4">
        <header class="flex items-center justify-between">
            <h2 class="font-semibold">Newfold Digital Inc.</h2>
            <span class="text-sm">Jul. 2024 - Present</span>
        </header>
        <p class="text-sm font-light">Software Engineer</p>
        <ul class="mt-3 list-disc">
            <li class="py-2">Maintenance of a robust payment middleware system supporting multiple payment gateways, ensuring reliable and secure transaction processing for millions of users globally.</li>
        </ul>
    </article>
    <div class="divider"></div>
    <article class="mt-4">
        <header class="flex items-center justify-between">
            <h2 class="font-semibold">Techforb LLC</h2>
            <span class="text-sm">Mar. 2022 - Jul. 2024</span>
        </header>
        <p class="text-sm font-light">Software Engineer</p>
        <ul class="mt-3 list-disc">
            <li class="py-2">Solved production issues and made improvements in an existing Angular + Java application for the insurance industry.</li>
            <li class="py-2">Utilized Kubernetes CLI to debug containerized services and GitHub Actions to streamline CI/CD workflows.</li>
            <li class="py-2">Led the onboarding process for new developers, standardizing knowledge transfer and reducing ramp-up time.</li>
        </ul>
    </article>
    <div class="divider"></div>
</main>