---
interface Props extends Work {}

const { company, period, position, tasks }: Props = Astro.props;
---
<article>
        <header class="flex flex-col items-left gap-3 justify-between flex-wrap sm:flex-row sm:items-center">
            <aside>
                <h3 class="font-semibold">{company}</h3>
                <p class="text-sm font-light">{position}</p>
            </aside>
            <p class="text-sm">{period}</p>
        </header>
        <ul class="mt-3 list-disc pl-5">
            {tasks.map((task) => (
                <li class="py-2">{task}</li>
            ))}
        </ul>
</article>